<div class="jumbotron text-center">
    <h1>All Events</h1>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <% for (var user of users) { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td>
                    <a href="/" class="btn btn-sm btn-primary">View</a>
                    <a href="/" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>